<% include ../partials/header.ejs %>

<h1>User Profile</h1>
<hr />
<h2>My Orders</h2>

<% for (let i = 0; i < orders.length; i++) { %>
<div class="card">

  <div class="card-body">
    <ul class="list-group">



    <% for (let id in orders[i].cart.items) { %>

    <li class="list-group-item d-flex justify-content-between
    align-items-center"><%= orders[i].cart.items[id].item.title %> |
    $<%= orders[i].cart.items[id].item.price %> <span class="badge
    badge-secondary"><%= orders[i].cart.items[id].qty %></span>
    </li>

    <% } %>




    </ul>
  </div>

  <div class="card-header">
    <strong>Total Price: $<%= orders[i].cart.totalPrice %></strong>
  </div>

</div>
<% } %>

<% include ../partials/footer.ejs %>